/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-direction-sign {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon-email {
  background-image: url(sprite.png);
  background-position: 0px -69px;
  width: 64px;
  height: 64px;
}
.icon-smartphone {
  background-image: url(sprite.png);
  background-position: 0px -138px;
  width: 64px;
  height: 64px;
}
.icon-smug {
  background-image: url(sprite.png);
  background-position: 0px -207px;
  width: 64px;
  height: 64px;
}
.icon-stork {
  background-image: url(sprite.png);
  background-position: 0px -276px;
  width: 64px;
  height: 64px;
}
.icon-ukraine {
  background-image: url(sprite.png);
  background-position: 0px -345px;
  width: 64px;
  height: 64px;
}
